<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="header">
      <div class="header__content">
        <div class="header__content__inner">
          <img src='{{ site.url }}/images/logo.svg' class="header__logo" />
          <h2 class="header__tagline">A two-day JavaScript conference in the Sierra Nevada Mountains</h2>

          <div class="header__meta">
            <span class="header__meta__date">April 6-7, 2017</span>
            <span class="header__meta__location">Truckee, CA</span>
          </div>

          <div class="header__buttons">
            <a href="https://ti.to" class="button button--light">Get Your Ticket</a>
          </div>
        </div>
      </div>
      
      <div class="header__background">
        <div class="header__foreground-container">
          <!-- <div class="mountain mountain--small"></div>
          <div class="mountain mountain--small delay-1"></div>
          <div class="mountain mountain--small delay-2"></div>
          <div class="mountain mountain--small delay-3"></div>
          <div class="mountain mountain--small delay-4"></div>
          <div class="mountain mountain--small delay-5"></div>
          <div class="mountain mountain--small delay-6"></div>
          <div class="mountain mountain--small delay-7"></div>
          <div class="mountain mountain--small delay-8"></div>
          <div class="mountain mountain--small delay-9"></div>
          <div class="mountain mountain--small delay-10"></div>
          <div class="mountain mountain--small delay-11"></div>

          <div class="mountain mountain--medium"></div>
          <div class="mountain mountain--medium delay-1"></div>
          <div class="mountain mountain--medium delay-2"></div>
          <div class="mountain mountain--medium delay-3"></div>
          <div class="mountain mountain--medium delay-4"></div>
          <div class="mountain mountain--medium delay-5"></div>
          <div class="mountain mountain--medium delay-6"></div>
          <div class="mountain mountain--medium delay-7"></div>
          <div class="mountain mountain--medium delay-8"></div>
          <div class="mountain mountain--medium delay-9"></div>
          <div class="mountain mountain--medium delay-10"></div>
          <div class="mountain mountain--medium delay-11"></div>

          <div class="mountain mountain--large"></div>
          <div class="mountain mountain--large delay-1"></div>
          <div class="mountain mountain--large delay-3"></div>
          <div class="mountain mountain--large delay-4"></div>
          <div class="mountain mountain--large delay-6"></div>
          <div class="mountain mountain--large delay-7"></div>
          <div class="mountain mountain--large delay-9"></div>
          <div class="mountain mountain--large delay-10"></div>
          <div class="mountain mountain--large delay-11"></div> -->

          <img src='{{ site.url }}/images/foreground.svg' class="header__foreground" />
        </div>
        <img src='{{ site.url }}/images/sun.svg' class="header__sun" />
      </div>
    </div>

  </body>

</html>